tensorflow==2.0.0
pygame==1.9.6
pynput==1.6.6
colour==0.1.5
music21==5.7.0
termcolor==1.1.0
scikit_optimize==0.7.1
dill==0.3.0
typeguard==2.5.1
numpy==1.17.4
epic_path==0.0.6
matplotlib==3.1.0
Pillow==7.0.0
progressbar2==3.47.0
scikit_learn==0.22.1
typing==3.7.4.1
